@import "src/assets/style/variables";
@import "src/assets/style/mixin";
.L-resume {
  margin-top: 30px;
  margin-bottom: 30px;
  .L-resume-title {
    text-align: center;
    font-size: $font-size-40;
    color: $blue-90;
    @include screen-max-width-991 {
      font-size: $font-size-28;
    }
    @include screen-max-width-576 {
      font-size: $font-size-20;
      margin: 15px 0;
    }
  }
  .L-resume-block {
    width: 50%;
    
    @include screen-max-width-767 {
      &:first-child {
        width: 100%;
      }
      &:nth-child(2) {
        width: 100%;
        .L-cv-download {
          margin: 20px auto;
        }
      }
    }
    .L-resume-text {
      margin-top: 20px;
      line-height: 35px;
      font-size: $font-size-20;
      color: $grey-60;

      @include screen-max-width-991 {
        font-size: $font-size-18;
      }
      @include screen-max-width-576 {
        font-size: $font-size-14;
        text-align: left;
      }
    }

    a {
      text-align: center;
      display: block;
      .L-resume-btn {
      
        @include screen-max-width-767 {
          margin: 20px 0;
        }
        width: 150px;
        height: 30px;
        background-color: $blue-90;
        border-radius: 5px;
        text-transform: uppercase;
        color: $white;
        &:hover {
          background-color: green;
          transition: $transition;
        }
      }
    }
  }
}
