@import "./variables";
@import "./mixin";
@import "./variables";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-90;
  border-radius: 20px;
}

.G-pointer {
  cursor: pointer;
}

.G-container {
  max-width: 1150px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  @include screen-max-width-576 {
    padding: 0 15px;
  }
}

* {
  cursor: none;

  &:hover {
    cursor: none;
    @include screen-max-width-991 {
      cursor:auto;
    }
  }

  @include screen-max-width-991 {
    cursor:auto;
  }
}


body[data-aos-duration="2500"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 2500ms;
}
