@import "./variables";
@import "./mixin";
@import "./variables";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-90;
  border-radius: 20px;
}

.G-pointer {
  cursor: pointer;
}

.G-container {
  max-width: 1150px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  @include screen-max-width-576 {
    padding: 0 15px;
  }
}

