// colors

$text-color     : #8590A6;
$base-color     : #564BD9;
$base-color-1   : #5F309C;
$black          : #000000;
$grey-80        : #252526;
$white          : #ffffff;
$red            : #E24949;
$red-dark       : #E42727;
$red-10         : #FEE3E3;
$blue-00         : #091b2a;
$blue           : #58A5FF;
$blue-dark      : #1A253B;
$blue-90        : #3164d3;
$blue-90-03     : #3164d357;
$blue-85        : #919DB3;
$blue-10        : #dfe1e7;


$grey-base      : #343434;
$grey-base-00   : #5c5c5c;
$grey-60        : #999999;
$grey-61        : #B3B3B3;


$black-03       : rgba(0, 0, 0, 0.3);

// Font sizes

$font-size-10   : 10px;
$font-size-12   : 12px;
$font-size-14   : 14px;
$font-size-16   : 16px;
$font-size-18   : 18px;
$font-size-20   : 20px;
$font-size-24   : 24px;
$font-size-28   : 28px;
$font-size-32   : 32px;
$font-size-40   : 40px;
$font-size-46   : 46px;
$font-size-48   : 48px;
$font-size-54   : 54px;
$font-size-58   : 58px;
$font-size-65   : 65px;
$font-size-70   : 70px;
$font-size-78   : 78px;


//page withs

$max-width-1200 : 1200px;
$max-width-991  : 991px;
$max-width-767  : 767px;
$max-width-576  : 576px;
$max-width-380  : 380px;

// transitions
$transition     : 0.3s;


