@import "src/assets/style/variables";
@import "src/assets/style/mixin";
.L-main-top {
    margin-top: 30px;
    margin-bottom: 30px;
    .L-top-title {
        text-align: center;
        h1 {
            font-size: $font-size-78;
            span{
                color: $blue-90;
            }
            @include screen-max-width-991 {
                font-size: $font-size-54;
            }
            @include screen-max-width-767 {
                font-size: $font-size-40;
            }
            @include screen-max-width-380 {
                font-size: $font-size-32;
            }
        }
        h3 {
            font-size: $font-size-40;
            margin: 15px 0;
            color: $grey-60;
            @include screen-max-width-991 {
                font-size: $font-size-32;
            }
            @include screen-max-width-767 {
                font-size: $font-size-28;
            }
            @include screen-max-width-380 {
                font-size: $font-size-20;
            }
        }
    }
    .L-top-my-photo {
        margin: 55px auto;
        max-width: 450px;
        .L-top-me {
            width: 100%;
            height: 500px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 55px;
            @include screen-max-width-576 {
                height: 450px;
            }
            @include screen-max-width-380 {
                height: 340px;
            }
        }
    }
}
