@import "src/assets/style/variables";
@import "src/assets/style/mixin";
.L-work {
    margin-top: 30px;
    margin-bottom: 30px;
    .L-work-child {
        width: 40%;
        @include screen-max-width-991 {
            width: 45%;
        }
        @include screen-max-width-767 {
            width: 100%;
            margin: 10px 0;
        }
        .L-work-title {
            font-size: $font-size-20;
            line-height: 35px;
            margin-bottom: 20px;
            @include screen-max-width-767 {
                font-size: $font-size-16;
            }
        }
        .L-work-time-days {
            margin: 25px 0;
            font-size: $font-size-16;
            color: $grey-60;
            span {
                font-weight: bold;
                color: $blue-90;
            }
            @include screen-max-width-767 {
                font-size: $font-size-14;
            }
        }
        .L-work-cub-wrapper {
            margin: 0 auto;
            display: grid;
            width: 230px;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 2px;
            .L-workCub {
                width: 15px;
                height: 15px;
                background-color: $blue-90;
                @include screen-max-width-767 {
                    width: 12px;
                    height: 12px;
                    margin: 2px 0;
                }
            }
            .L-workCubFalse {
                background-color: silver;
                width: 15px;
                height: 15px;
                @include screen-max-width-767 {
                    width: 12px;
                    height: 12px;
                    margin: 2px 0;
                }
            }
        }
        .L-experience {
            h1 {
                font-size: $font-size-28;
                font-weight: bold;
                @include screen-max-width-767 {
                    font-size: $font-size-24;
                }
            }
            h4 {
                font-size: $font-size-24;
                margin: 10px 0;
                @include screen-max-width-767 {
                    font-size: $font-size-20;
                }
            }
            h5 {
                font-size: $font-size-20;
                margin: 10px 0;
                color: $grey-60;
                @include screen-max-width-767 {
                    font-size: $font-size-16;
                }
            }
            h6 {
                font-size: $font-size-20;
                margin: 15px 0;
                @include screen-max-width-767 {
                    font-size: $font-size-16;
                }
            }
            p {
                font-size: $font-size-18;
                margin: 10px 0;
                line-height: 30px;
                color: $grey-60;
                @include screen-max-width-767 {
                    font-size: $font-size-14;
                }
            }
        }
    }
}
