@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5kyjds');
  src:  url('fonts/icomoon.eot?5kyjds#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5kyjds') format('truetype'),
    url('fonts/icomoon.woff?5kyjds') format('woff'),
    url('fonts/icomoon.svg?5kyjds#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-css3-original1 .path1:before {
  content: "\e928";
  color: rgb(21, 114, 182);
}
.icon-css3-original1 .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(51, 169, 220);
}
.icon-css3-original1 .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-css3-original1 .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-css3-original1 .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-css3-original1 .path6:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-css3-plain:before {
  content: "\e92e";
  color: #1572b6;
}
.icon-css3-plain-wordmark:before {
  content: "\e92f";
  color: #1572b6;
}
.icon-figma-plain:before {
  content: "\e930";
}
.icon-github-original:before {
  content: "\e931";
}
.icon-github-original-wordmark1 .path1:before {
  content: "\e932";
  color: rgb(24, 22, 22);
}
.icon-github-original-wordmark1 .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(24, 22, 22);
}
.icon-github-original-wordmark1 .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(16, 14, 15);
}
.icon-html5-plain:before {
  content: "\e935";
  color: #e44d26;
}
.icon-html5-plain-wordmark:before {
  content: "\e936";
  color: #e44d26;
}
.icon-javascript-plain:before {
  content: "\e937";
  color: #f0db4f;
}
.icon-materialui-plain:before {
  content: "\e938";
  color: #1fa6ca;
}
.icon-vscode-original-wordmark1 .path1:before {
  content: "\e939";
  color: rgb(36, 137, 202);
}
.icon-vscode-original-wordmark1 .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(16, 112, 179);
}
.icon-vscode-original-wordmark1 .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(8, 119, 185);
}
.icon-vscode-original-wordmark1 .path4:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(60, 153, 212);
}
.icon-vscode-original-wordmark1 .path5:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(8, 119, 185);
}
.icon-vscode-original-wordmark1 .path6:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(8, 119, 185);
}
.icon-vscode-plain-wordmark:before {
  content: "\e93f";
}
.icon-bootstrap-original:before {
  content: "\e905";
}
.icon-css3-original .path1:before {
  content: "\e906";
  color: rgb(21, 114, 182);
}
.icon-css3-original .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(51, 169, 220);
}
.icon-css3-original .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-css3-original .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-css3-original .path5:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-css3-original .path6:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-figma-original .path1:before {
  content: "\e907";
  color: rgb(10, 207, 131);
}
.icon-figma-original .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(162, 89, 255);
}
.icon-figma-original .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(242, 78, 30);
}
.icon-figma-original .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 114, 98);
}
.icon-figma-original .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(26, 188, 254);
}
.icon-github-original-wordmark .path1:before {
  content: "\e90c";
  color: rgb(24, 22, 22);
}
.icon-github-original-wordmark .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(24, 22, 22);
}
.icon-github-original-wordmark .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(16, 14, 15);
}
.icon-git-original:before {
  content: "\e90f";
  color: #f34f29;
}
.icon-gulp-plain:before {
  content: "\e910";
  color: #eb4a4b;
}
.icon-html5-original .path1:before {
  content: "\e911";
  color: rgb(228, 77, 38);
}
.icon-html5-original .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(241, 101, 41);
}
.icon-html5-original .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-html5-original .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-javascript-original .path1:before {
  content: "\e915";
  color: rgb(240, 219, 79);
}
.icon-javascript-original .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(50, 51, 48);
}
.icon-jquery-original:before {
  content: "\e917";
  color: #0868ac;
}
.icon-less-plain-wordmark:before {
  content: "\e918";
  color: #2a4d80;
}
.icon-materialui-original .path1:before {
  content: "\e919";
  color: rgb(31, 166, 202);
}
.icon-materialui-original .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(28, 127, 182);
}
.icon-materialui-original .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(31, 166, 202);
}
.icon-materialui-original .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(28, 127, 182);
}
.icon-react-original-wordmark:before {
  content: "\e91d";
  color: #61dafb;
}
.icon-redux-original:before {
  content: "\e91e";
  color: #764abc;
}
.icon-sass-original:before {
  content: "\e91f";
  color: #cb6699;
}
.icon-trello-plain-wordmark:before {
  content: "\e920";
  color: #23719f;
}
.icon-vscode-original-wordmark .path1:before {
  content: "\e921";
  color: rgb(36, 137, 202);
}
.icon-vscode-original-wordmark .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(16, 112, 179);
}
.icon-vscode-original-wordmark .path3:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(8, 119, 185);
}
.icon-vscode-original-wordmark .path4:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(60, 153, 212);
}
.icon-vscode-original-wordmark .path5:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(8, 119, 185);
}
.icon-vscode-original-wordmark .path6:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(8, 119, 185);
}
.icon-xd-plain:before {
  content: "\e927";
  color: #dd80bc;
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-new-tab:before {
  content: "\ea7e";
}
