@import "../../assets/style/variables";
@import "../../assets/style/mixin";

.L-projects {
  margin-top : 40px;
  @include screen-max-width-767 {
    margin-top : 20px;
  }

  .L-projects-title {
    text-align : center;
    margin-top : 10px;
    font-size  : $font-size-40;
    color      : $blue-90;
    @include screen-max-width-991 {
      font-size : $font-size-28;
    }
    @include screen-max-width-576 {
      font-size : $font-size-20;
      margin    : 15px 0;
    }
  }

  .L-projects-info {
    font-size   : $font-size-20;
    color       : $grey-60;
    line-height : 35px;
    margin      : 25px 0;
    @include screen-max-width-991 {
      font-size : $font-size-18;
    }
    @include screen-max-width-576 {
      font-size : $font-size-16;
    }
  }

  .L-my-projects {
    margin-top : 45px;

    .L-my-project {
      margin        : 25px 0;
      padding       : 40px 0;
      border-bottom : 1px solid $grey-base;

      &:first-child {
        border-top : 1px solid $grey-base;
      }

      &:nth-child(even) {
        flex-direction : row-reverse;
      }

      .L-my-project-background {
        position      : relative;
        display       : block;
        max-width     : 400px;
        width         : 50%;
        height        : 400px;
        border-radius : 25px;
        border        : 2px solid $grey-60;
        transition    : transform $transition;
        @include screen-max-width-991 {
          max-width : 320px;
        }
        @include screen-max-width-767 {
          width  : 100%;
          margin : 30px auto;
          height : 350px;
        }
        @include screen-max-width-576 {
          width  : 100%;
          height : 300px;
          max-width : 300px;
        }


        .L-my-project-cover {
          border-radius       : 25px;
          background-size     : cover;
          width               : 100%;
          height              : 100%;
          background-repeat   : no-repeat;
          background-position : center;
        }

        &:hover {
          opacity    : 0.6;
          transition : opacity 0.5s, transform $transition;
          transform  : translateY(-10px);
          // box-shadow: 1px 7px 36px 12px rgba(49, 100, 211, 0.5);

        }
      }

      .L-my-project-desc {
        width : 50%;
        @include screen-max-width-767 {
          width : 100%;
        }

        h4 {
          color     : $blue-90;
          font-size : $font-size-28;
          @include screen-max-width-991 {
            font-size : $font-size-24;
          }
          @include screen-max-width-767 {
            font-size : $font-size-20;
          }
        }

        p {
          padding-right : 10px;
          margin-top    : 20px;
          color         : $grey-60;
          font-size     : $font-size-20;
          line-height   : 35px;
          max-height    : 250px;
          overflow-y    : scroll;
          @include screen-max-width-991 {
            font-size : $font-size-18;
          }
          @include screen-max-width-767 {
            font-size : $font-size-16;
          }

          &::-webkit-scrollbar {
            width : 5px;
          }

          &::-webkit-scrollbar-track {
            background : $grey-base;
          }

          &::-webkit-scrollbar-thumb {
            background : $blue-90;

          }

          &::-webkit-scrollbar-thumb:hover {
            background : $blue-dark;

          }
        }

        b {
          &:last-child {
            text-align : right;
          }

          display   : block;
          margin    : 22px 0;
          color     : $grey-base;
          font-size : $font-size-18;
          @include screen-max-width-767 {
            font-size : $font-size-16;
          }
          @include screen-max-width-767 {
            font-size : $font-size-14;
          }

          .L-github-link {
            display : block;
            margin  : 25px 0;
            width   : 100%;

            .L-github-link-btn {
              width            : 100%;
              background-color : $blue-90;
              color            : $white;
              padding          : 10px 6px;
              border-radius    : 10px;
            }

            &:hover {
              .L-github-link-btn {
                background-color : green;
                transition       : $transition;
              }
            }
          }
        }

        .L-my-project-desk-utils {
          margin-top : 30px;
          @include screen-max-width-767 {
            text-align : center;
          }

          span {
            font-size : 60px;
            margin    : 0 15px;
            @include screen-max-width-767 {
              font-size : 50px;
            }
          }
        }
      }
    }
  }
}
