@import "../../assets/style/variables";
@import "../../assets/style/mixin";
.L-footer {
    padding: 25px 0;
    background-color: $blue-dark;
}
.L-footer-contacts {
    text-align: center;
    .L-footer-contacts-title {
        font-size: $font-size-32;
        @include screen-max-width-576{
            font-size: $font-size-20;
        }
    }
    .L-footer-contacts-info {
        margin: 13px 0;
        font-size: $font-size-20;
        @include screen-max-width-576{
            font-size: $font-size-14;
        }
        a {
            margin: 0 10px;
            color: $white;
            @include screen-max-width-576{
                margin: 10px ;
            }
            &:hover{
                color: $blue;
            }
        }
    }
}
.L-footer-links{
    padding-top: 20px;
    .L-footer-links-parent{
        justify-content: center;
    }
    .L-footer-link{
        margin: 0 15px;
        a{
            color: white;
            font-size: $font-size-28;
            @include screen-max-width-576{
                font-size: $font-size-20;
                margin: 10px;
            }
            &:hover{
                color: $blue;
            }
        }
    }
}
